.btn {
    font-weight: 700;
    text-transform: uppercase;
}

.btn-primary {
    background-color: $color-yellow;
    border-color: $color-yellow;
    color: $color-dark-purple;

    &:hover {
        background-color: $color-orange;
        border-color: $color-orange;
        color: $color-white;
    }
}

.btn-secondary {
    background-color: $color-dark-purple;
    border-color: $color-dark-purple;
    color: $color-white;
}

.btn-outline-secondary {
    border-color: $color-dark-purple;
    color: $color-dark-purple;

    &:hover {
        background-color: $color-dark-purple;
        border-color: $color-dark-purple;
        color: $color-white;
    }
}