.nav-item {
    font-weight: 700;
}

.back-to-mp {
    text-decoration: none;
    color: $color-white;

    &:hover {
        color: $color-slate-grey;
    }
}

.dropdown-menu {
    background-color: $color-dark-purple;
}

.dropdown-item {
    color: $color-white;

    &:hover {
        color: $color-dark-purple;
        background-color: $color-yellow;
    }
}