.nav-item {
    font-weight: 700;
}

.back-to-mp {
    text-decoration: none;
    color: $color-white;

    &::before {
        content: "\1F878";
        margin-right: 0.25rem;
    }

    &:hover {
        color: $color-slate-grey;
    }
}