header nav {
    background-color: rgba(39, 15, 66, 0.9);
}

.nav-item {
    font-weight: 700;
}

.back-to-mp {
    text-decoration: none;
    color: $color-white;

    &:hover {
        color: $color-slate-grey;
    }
}