@mixin hero {
    background: linear-gradient(136deg, #5b1499, #d61c5b, #f9763d);
    background-size: 200% 200%;
    -webkit-animation: gradient 7s ease infinite;
    -moz-animation: gradient 7s ease infinite;
    animation: gradient 7s ease infinite;
}

@-webkit-keyframes gradient {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@keyframes gradient {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}

.big-hero {
    @include hero;
    min-height: 60vh;
}

.small-hero {
    @include hero;
    min-height: 30vh;
}

@media only screen and (max-width: 768px) {
    .big-hero {
        min-height: 45vh;
    }

    .small-hero {
        min-height: 25vh;
    }
}