$font-family: 'Montserrat', sans-serif;

$color-fuschia: #d61c5b;
$color-violet: #a02088;
$color-orange: #f9763d;
$color-purple: #5b1499;
$color-dark-purple: #270f42;
$color-yellow: #f6eb12;
$color-white: #ffffff;
$color-black: #000000;
$color-off-white: #fdf0f0;
$color-slate-grey: #afadb2;
$color-pro: linear-gradient(157deg, rgba(91,20,153,1) 0%, rgba(214,28,91,1) 35%, rgba(249,118,61,1) 100%);