.nav-item {
  font-weight: 700;
}

.nav-link {
  color: #ffffff;
}
.nav-link:hover {
  color: #f6eb12;
}

.back-to-mp {
  text-decoration: none;
  color: #ffffff;
}
.back-to-mp:hover {
  color: #afadb2;
}

.dropdown-menu {
  background-color: #270f42;
}

.dropdown-item {
  color: #ffffff;
}
.dropdown-item:hover {
  color: #270f42;
  background-color: #f6eb12;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 93% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 93% 0%;
  }
}
@keyframes gradient {
  0% {
    background-position: 93% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 93% 0%;
  }
}
.big-hero {
  background: linear-gradient(136deg, #5b1499, #d61c5b, #f9763d);
  background-size: 200% 200%;
  -webkit-animation: gradient 7s ease infinite;
  animation: gradient 7s ease infinite;
  min-height: 60vh;
}

.small-hero {
  background: linear-gradient(136deg, #5b1499, #d61c5b, #f9763d);
  background-size: 200% 200%;
  -webkit-animation: gradient 7s ease infinite;
  animation: gradient 7s ease infinite;
  min-height: 30vh;
}

@media only screen and (max-width: 768px) {
  .big-hero {
    min-height: 45vh;
  }
  .small-hero {
    min-height: 25vh;
  }
}
.activity {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.activity .activity-img {
  width: 100%;
  min-height: 650px;
}
.activity .activity-text-overlay {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

#activities .row div:nth-of-type(1) .activity-img {
  background: linear-gradient(90deg, rgba(91, 20, 153, 0.8), rgba(91, 20, 153, 0.8)), url(../images/speakers-900x600.jpg);
  background-size: cover;
  background-position: 80% 50%;
}
#activities .row div:nth-of-type(1):hover .activity-img, #activities .row div:nth-of-type(1):active .activity-img {
  background: url(../images/speakers-900x600.jpg);
  background-size: cover;
  background-position: 80% 50%;
}
#activities .row div:nth-of-type(1):hover .activity-text-overlay, #activities .row div:nth-of-type(1):active .activity-text-overlay {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
#activities .row div:nth-of-type(1):hover .activity-text-overlay h3, #activities .row div:nth-of-type(1):active .activity-text-overlay h3 {
  content: "Coming Soon!";
}

#activities .row div:nth-of-type(2) .activity-img {
  background: linear-gradient(90deg, rgba(214, 28, 91, 0.8), rgba(214, 28, 91, 0.8)), url(../images/workshops-900x600.jpg);
  background-size: cover;
  background-position: 0% 50%;
}
#activities .row div:nth-of-type(2):hover .activity-img, #activities .row div:nth-of-type(2):active .activity-img {
  background: url(../images/workshops-900x600.jpg);
  background-size: cover;
  background-position: 0% 50%;
}
#activities .row div:nth-of-type(2):hover .activity-text-overlay, #activities .row div:nth-of-type(2):active .activity-text-overlay {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

#activities .row div:nth-of-type(3) .activity-img {
  background: linear-gradient(90deg, rgba(249, 118, 61, 0.8), rgba(249, 118, 61, 0.8)), url(../images/roundtables-900x600.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
#activities .row div:nth-of-type(3):hover .activity-img, #activities .row div:nth-of-type(3):active .activity-img {
  background: url(../images/roundtables-900x600.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
#activities .row div:nth-of-type(3):hover .activity-text-overlay, #activities .row div:nth-of-type(3):active .activity-text-overlay {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

@media only screen and (max-width: 1024px) {
  .activity .activity-img {
    min-height: 425px;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    min-height: 45vh;
  }
  .activity .activity-img {
    min-height: 200px;
  }
  #activities .row div:nth-of-type(1) .activity-img {
    background-position: 80% 25%;
  }
  #activities .row div:nth-of-type(1):hover .activity-img {
    background-position: 80% 25%;
  }
  #activities .row div:nth-of-type(2) .activity-img {
    background-position: 70% 30%;
  }
  #activities .row div:nth-of-type(2):hover .activity-img {
    background-position: 70% 30%;
  }
  #activities .row div:nth-of-type(3) .activity-img {
    background-position: 50% 10%;
  }
  #activities .row div:nth-of-type(3):hover .activity-img {
    background-position: 50% 10%;
  }
}
#agendaTab .nav-link {
  font-size: 1.1rem;
  font-weight: 400;
  color: #000000;
}
#agendaTab .nav-link:hover {
  font-weight: 700;
  color: #d61c5b;
  border: 0;
}
#agendaTab .nav-link.active {
  font-weight: 700;
  color: #d61c5b;
  background-color: transparent !important;
  border: 0;
  border-bottom: 2px solid #d61c5b;
  position: relative;
}
#agendaTab .nav-link.active::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 40%;
  border: 11px solid transparent;
  border-bottom-color: #d61c5b;
  transform: rotate(180deg);
}

.accordion-header .time {
  font-size: 1.2rem;
  font-weight: 700;
  color: #d61c5b;
}

.accordion-button:not(.collapsed) {
  background-color: #ffffff;
  box-shadow: none;
}

footer nav a {
  color: #ffffff;
  text-decoration: none;
}
footer nav a:hover {
  color: #afadb2;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #f6eb12;
  border-color: #f6eb12;
  color: #270f42;
}
.btn-primary:hover {
  background-color: #f9763d;
  border-color: #f9763d;
  color: #ffffff;
}

.btn-secondary {
  background-color: #270f42;
  border-color: #270f42;
  color: #ffffff;
}

.btn-outline-secondary {
  border-color: #270f42;
  color: #270f42;
}
.btn-outline-secondary:hover {
  background-color: #270f42;
  border-color: #270f42;
  color: #ffffff;
}

#terms-conditions, #faq, #workshops {
  position: relative;
  top: -5vh;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(-50%);
}

.from-right {
  transform: translateX(50%);
}

.from-left, .from-right {
  opacity: 0;
  transition: opacity 400ms ease-in, transform 400ms ease-in;
}

.from-left.appear, .from-right.appear {
  opacity: 1;
  transform: translateX(0);
}

html {
  font-size: 16px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: #fdf0f0;
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 900;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
}

ul {
  list-style-type: square;
}

.display-1, .display-2, .display-3, .display-4, .display-5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.bg-dark-purple {
  background-color: #270f42;
}

.bg-purple {
  background-color: #5b1499;
}

.text-dark-purple {
  color: #270f42;
}

.text-purple {
  color: #5b1499;
}

.bg-off-white {
  background-color: #fdf0f0;
}

.text-small {
  font-size: 0.75rem;
}

.drop-shadow {
  box-shadow: 0.85rem 0.9rem 0 1px #270f42;
}

input:focus {
  border-color: #5b1499;
}

.page-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.handle {
  color: #afadb2;
  text-decoration: none;
}
.handle:hover {
  color: #d61c5b;
}

a.card-text {
  color: #ffffff;
  text-decoration: none;
}
a.card-text:hover {
  color: #d61c5b;
}

.accordion-item {
  border-color: #ffffff;
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}/*# sourceMappingURL=custom.css.map */