@mixin flex ($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@import './variables';
@import './header';
@import './buttons';
@import './agenda';
// @import './footer';

html {
    font-size: 16px;
    font-family: $font-family;
    font-weight: 400;
}

.display-1, .display-2, .display-3, .display-4, .display-5 {
    font-family: $font-family;
    font-weight: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-off-white;
    width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
    font-weight: 900;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6  {
    text-transform: uppercase;
}

.bg-dark-purple {
    background-color: $color-dark-purple;
}

.bg-purple {
    background-color: $color-purple;
}

.text-dark-purple {
    color: $color-dark-purple;
}

.text-purple {
    color: $color-purple;
}

.bg-off-white {
    background-color: $color-off-white;
}

.text-small {
    font-size: 0.75rem;
}

.drop-shadow {
    box-shadow: .85rem .9rem 0 1px $color-dark-purple;
}

input:focus {
    border-color: $color-purple;
}

.page-wrapper {
    @include flex(space-between, center, column);
    height: 100%;
    width: 100%;
}

.hero {
    min-height: 60vh;
    background: linear-gradient(136deg, #5b1499, #d61c5b, #f9763d);
    background-size: 200% 200%;
    -webkit-animation: gradient 7s ease infinite;
    -moz-animation: gradient 7s ease infinite;
    animation: gradient 7s ease infinite;
}

@-webkit-keyframes gradient {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@keyframes gradient {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}

.activities {
    width: 100%;
    overflow: hidden;
    position: relative;

    .activities-img {
        width: 100%;
        min-height: 650px;
    }

    .activities-text-overlay {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }
}

#activities .row div:nth-of-type(1) {
    .activities-img {
        background: linear-gradient(90deg, rgba(91, 20, 153, 0.8), rgba(91, 20, 153, 0.8)), url(../images/speakers-900x600.jpg);
        background-size: cover;
        background-position: 80% 50%;

    }

    &:hover {
        .activities-img {
            background: url(../images/speakers-900x600.jpg);
            background-size: cover;
            background-position: 80% 50%;
        }

        .activities-text-overlay {
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        }
    }
}


#activities .row div:nth-of-type(2) {
    .activities-img {
        background: linear-gradient(90deg, rgba(214, 28, 91, 0.8), rgba(214, 28, 91, 0.8)), url(../images/workshops-900x600.jpg);
        background-size: cover;
        background-position: 70% 50%;
    }

    &:hover {
        .activities-img {
            background: url(../images/workshops-900x600.jpg);
            background-size: cover;
            background-position: 70% 50%;
        }

        .activities-text-overlay {
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        }
    }
}

#activities .row div:nth-of-type(3) {
    .activities-img {
        background: linear-gradient(90deg, rgb(249, 118, 61, 0.8), rgb(249, 118, 61, 0.8)), url(../images/roundtables-900x600.jpg);
        background-size: cover;
        background-position: 50% 50%;
    }

    &:hover {
        .activities-img {
            background: url(../images/roundtables-900x600.jpg);
            background-size: cover;
            background-position: 50% 50%;
        }

        .activities-text-overlay {
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        }
    }
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}